<!DOCTYPE html>
<html lang="en" data-mode="sepia">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
    body {
      font-size: 16px;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 36px;
    }

    p {
      text-align: justify
    }

    h1 {
      font-size: 2em;
      line-height: initial;
    }

    h1,h2,h3 {
      line-height: initial;
    }

    body {
      width: min(100% - 2rem, 1100px);
      margin: 0 auto;
      padding: 10px;
      position: relative;
    }

    .chapter {
      margin-bottom: 80px;
    }
  </style>
  <title>{{.Title}}</title>
</head>
<body tabindex="1" data-images="true" data-font="sans-serif" data-columns="1">
  <div id="content">
    {{range .Novels}}
      <h2>{{.Title}}</h2>
      <hr>
      <div class="chapter">
        {{range .Paragraphs}}
          <p>{{.}}</p>
        {{end}}
      </div>
    {{end}}
  </div>
</body>
</html>